@charset "UTF-8";
/* CSS Document */
ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
}
.divider {
	height: 0.5em;
	margin-bottom: 0.5em;
}
.divider:first-line {
	background-color: white;
}
.img-Nexus {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
}
img.img-circle{
width: 140px;
 height: 140px; 
 box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
 -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
 -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.panel-footer {
	 float:left;
	 padding:15px 0;
	 min-width:100%;
}
